body{
  margin: 0px;
  padding: 0px;
  font-family: "open-sans",sans-serif;
  color: #333333;
  line-height: auto;
  letter-spacing: 0%;
}

.view{
  background-color: #1E1E1E;
  border-radius: 40px;
  width: 1440px;
  padding: 80px;
  margin: auto;
}

.Page{
  background-color: #F5F4F0;
  width: 100%;
  height: 100%;
}

.Container{
  padding: 88px 80px 27px;
}

img{
  width: 100%;
}

h1{
  color: #1B1B1B;
  font-weight: bold;
  font-size: 36px;
}

h2{
  color: #1B1B1B;
  font-weight: bold;
  font-size: 32px;
}

h3{
  color: #1B1B1B;
  font-weight: bold;
  font-size: 28px;
}

h5{
  color: #E1624F;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}

p{
  font-weight: normal;
  font-size: 16px;
}

#cardTravel2{
  margin: 48px 0px
}

.subtitle{
  font-style: italic;
  text-align: center;
}

.description{
  text-align: center;
}

#descMoreImage{
  margin-bottom: 40px;
}

#titleList{
  margin: 64px 0px;
}

hr{
  border: none;
  height: 1px;
  background-color: #D9D9D9;
}

#divFooter{
margin:40px 0px 0px 0px;
}

span, ul{
  font-size: 16px;
  font-weight: bold;
  margin-top: 0px;
}

#cardTravel1 ul li, #cardTravel2 ul li{
  color: #0C51A7;
}

#cardTravel3 ul li:nth-child(1) {
  color: #591B98;
}

#cardTravel3 ul li:nth-child(2) {
  color: #E5245E;
}

#cardTravel3 ul li:nth-child(3) {
  color: #E95E10;
}

footer{
 font-size: 16px;
 line-height: 150%;
 text-align: center;
 padding-top: 65px;
 padding-bottom: 48px;
}

footer img{
  width: 16px;
  vertical-align: middle;
}